body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow:hidden;
}
#splash {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #30ddff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30ddff, #01baff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30ddff, #01baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
#splashCard, #splashDesc, #splashLogo {
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.onekind {
  margin-top: 40px;
}
.logoIcon {
  background: #fff;
  width: 70px;
  height: 80px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  color: #ef5755;
  box-shadow: 0px 0px 2px #888888;
}
.logo {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-size:40px;
  text-shadow: 0px 0px 2px #888888;
}
.subtext {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  text-shadow: 0px 0px 2px #888888;
}
svg path,
svg rect{
  fill: #fff;
}
.octicon-blue {
  fill: #fff;
}
.mainbtn {
  background: #fff;
  border-radius: 6px;
  border: none;
  color: #32cdfe;
  border: 1px solid #32cdfe;
  padding: 7px;
  font-size: 20px;
  max-width: 380px;
  width: 90%;
  outline: none;
  margin-top: 10px;
}
#sectorOne {
  text-align: center;
}
h1 {
  font-size: 50px;
  display: inline-block;
}
#vocabStatus {
  background: #30ddff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30ddff, #01baff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30ddff, #01baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#gramStatus {
  background: #8BC34A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8BC34A, #4CAF50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8BC34A, #4CAF50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#readStatus {
  background: #FF9800;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FF9800, #FF5722);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF9800, #FF5722); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#userSelect {
  margin-top: 250px;
}
#bottomMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #c6c6c6;
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.tabBtn {
  color: #fff;
  border: none;
  outline: none;
  padding: 8px;
  width: 45%;
  font-size: 17px;
}
.tabBtn:disabled {
  color: #fff;
  border: none;
  outline: none;
  padding: 8px;
  width: 45%;
  font-size: 17px;
}
.bluebtn {
  background: #30ddff;  /* fallback for old browsers */
  color: #fff;
}
.bluebtn:disabled {
  background: #30ddff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30ddff, #01baff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30ddff, #01baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.orangebtn {
  background: #FF9800;
}
.orangebtn:disabled {
  background: #FF9800;
  background: -webkit-linear-gradient(to bottom, #FF9800, #FF5722);
  background: linear-gradient(to bottom, #FF9800, #FF5722);
}
.greenbtn {
  background: #8BC34A;
}
.greenbtn:disabled {
  background: #8BC34A;
  background: -webkit-linear-gradient(to bottom, #8BC34A, #4CAF50);
  background: linear-gradient(to bottom, #8BC34A, #4CAF50);
}
.statsText {
  font-size: 20px;
}

.whitetransbtn {
  background: #fff;
  border-radius: 6px;
  border: none;
  color: #111111;
  border: none;
  padding: 7px;
  font-size: 20px;
  outline: none;
  margin-top: 10px;
  width: 80%;
}
.statsBox {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  min-height: 230px;
}
.leftbtn {
  position: absolute;
  right: 15px;
  top: 100px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 0;
  z-index: 997;
  outline: none;
}
.rightbtn {
  position: absolute;
  left: 15px;
  top: 100px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 0;
  z-index: 997;
  outline: none;
}
.progressWrapper {
  background: #efeff0;
  border-radius: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.untilProgress {
  background: #f8b63c;
  border-radius: 10px;
  height: 20px;
  width: 0%;
  margin-right: auto;
  overflow: visible;
}
#userStatus {
  overflow: hidden;
}
#loginport {
  position: fixed;
  z-index: 999;
  width: 90%;
  background: #fff;
  left: 5%;
  top: 5vh;
  border-radius: 20px;
  text-align: center;
}
#shadow {
  background: rgba( 0, 0, 0, 0.5 );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
}
.headerLog {
  font-size: 25px;

}
.eightwrap {
  border-radius: 20px;
  background: #30ddff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30ddff, #01baff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30ddff, #01baff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: center;
  min-height: 30vh;
}
.circleBtn {
  border-radius: 50%;
  border: 0;
  width: 85px;
  height: 85px;
  text-align: center;
  margin-bottom: 30px;
  outline: none;
  box-shadow: 0px 2px 3px #888888;
}
#learnport {
  position: fixed;
  display: block;
  opacity: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 0;
  z-index: 7000;
  transition: 0.2;
  -webkit-transition: 0.2s;
}
#bottomControllerLearn {
  position: fixed;
  z-index: 7001;
  bottom: 0;
  width: 100%;
  text-align: center;

}
.rightSwitchbtn {
  background: #fff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid #8b8b8b;
  outline: none;
  font-size: 20px;
  padding: 7px;
  color: #8b8b8b;
  margin-top: 20px;
  min-width: 151px;
}
.leftSwitchbtn {
  background: #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid #8b8b8b;
  border-right: none;
  outline: none;
  font-size: 20px;
  padding: 7px;
  color: #8b8b8b;
  margin-top: 20px;
  min-width: 151px;
}
.leftSwitchbtn, .rightSwitchbtn:disabled {
  background: #8b8b8b;
  color: #fff;
}
#levelport {
  text-align: center;
}
.transbtn {
  background: transparent;
  border: 0;

}
.redtopbtn {
  background: #de2f44;
  border: none;
  border-radius: 0px;
  border-bottom-left-radius: 8px;
  float: right;
  padding: 9px 10px;
  outline: none;
}
.learnHeader {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.disBrokenWrapper {
  width: 302px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#currentlevelport {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 80%;
  background: #fff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff, #f7f7f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 435px;
  margin-top: 20px;
}
.levelSpan {
  font-size: 25px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.portLevel {
  border-bottom: 1px solid #c6c6c6;

}
.portbtn {
  color: #fff;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
